p {
    font-family: Verdana, sans-serif !important;
}

.page-toc {
    float: none;
    width: 300px;
}

// Отключить настройки выбора шрифта и темы от fontsettings в верхнем меню
.font-settings {
  display: none;
}

.summary > li:first-child:not(.header) {
    display: none;
}